@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base theme settings */
@layer base {
  html {
    --color-primary: #84cc16;
  }
}

/* Other theme settings */
/* theme 1 */
html[data-theme="theme1"] {
  --color-primary: #f98866;
}

/* theme 2 */
html[data-theme="theme2"] {
  --color-primary: #f4cc70;
}

/* theme 3 */
html[data-theme="theme3"] {
  --color-primary: #f1f1f2;
}
